{% extends 'base.html' %}
{% block conteudo %}

<h1 style="text-align: center;">detalhe de investimento</h1>
<div class="container" >
    <table class="table table-hover table-bordered">
        <tr>
            <th>id</th>
            <th>investimento</th>
            <th>valor</th>
            <th>data</th>
            <th>pago</th>
        
        <tr>
            <td>{{dados.id}}</td>
            <td>{{dados.investimento}}</td>
            <td>{{dados.valor}}</td>
            <td>{{dados.data}}</td>
            <td>{{dados.pago}}</td>
        </tr>
        {% csrf_token %}


    </table>

    <form method="post">
    <button class="btn btn-block" class="btn btn-info"><a href="{% url 'investimentos' %}">voltar</a></button>
   



    </form>
</div>
{% endblock %}